@import "~@edx/paragon/scss/edx/theme.scss";

.collapsible {
  @extend .border-0;
  
  .collapsible-body {
    @extend .p-0;

    &.open {
      overflow: initial;
    }
  }

  .collapsible-title {
    @extend .h2;
  }

  .btn-collapsible {
    @extend .rounded-0;
    @extend .mb-2;
    @extend .border-0;

    background-color: $white;

    &:hover {
      background-color: $white !important;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }

  .btn-collapsible,
  .collapsible-body {
    padding: 0;
  }
}
