@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.hero {
  position: relative;
  overflow: hidden;

  .container {
    padding-left: 0;
    padding-right: 0;

    @include media-breakpoint-up(sm) {
      & {
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
  }

  .background {
    position: absolute;
    width: 100%;
    height: 100%;

    .hero-texture,
    .hero-img {
      background-color: #ffffff;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .hero-texture {
      flex: 1;
      flex-grow: 0;
      flex-basis: 33.33%;
      border-right-width: 20px;
      border-right-style: solid;
    }

    .hero-img {
      flex: 1;
    }
  }

  .hero-box {
    border-left-width: 20px;
    border-left-style: solid;
  }

  .hero-logo-wrapper {
    @include media-breakpoint-up(xs) {
      & {
        margin-top: 40px;
      }
    }

    @include media-breakpoint-up(lg) {
      & {
        margin-top: 135px;
      }
    }

    .hero-logo {
      border-left-width: 20px;
      border-left-style: solid;
    }
  }
}

// @import "../../sass/_variables.scss";

// .hero-wrap {
//     height: 100%;
//     position: relative;
//     color: $faded-black;

//     .hero-flex {
//       display: flex;
//       width: 100%;
//       height: 100%;
//       min-height: 400px;
//       position: absolute;
//     }

//     .hero-texture {
//       flex: 0;
//       background-color: #fff;
//       background-repeat: no-repeat;
//       background-size: cover;
//       background-position: center;
//     }

//     .hero-img {
//       flex: 2;
//       background-repeat: no-repeat;
//       background-size: cover;
//       background-position: center;
//     }

//     .hero-lrg-display {
//       position: relative;
//       width: 100%;
//       height: 100%;
//     }

//     .hero-box {
//       position:relative;
//       display: inline-block;
//       background-color: #fff;
//       margin: 0 0 200px 0;
//       border-width: 0 0 0 20px;
//       border-style: solid;
//       padding: 40px 40px 40px 10px;

//       .hero-heading {
//         color: $faded-black;
//         font-family: $georgia;
//         font-weight: 700;
//         font-size: 2.5em;
//         margin: 0 0 16px;
//       }

//       .hero-subheading {
//         color: $faded-black;
//         font-size: 24px;
//         font-style: italic;
//       }

//       .hero-rank {
//         font-family: $georgia;
//         color: $faded-black;
//         font-size: 24px;
//         font-weight: bold;
//         margin: 0;
//       }
//     }

//     .hero-logo {
//       position: absolute;
//       height: 100px;
//       width: 200px;
//       background-color: #fff;
//       bottom: 0;
//       right: 0;
//       margin: 10px;
//     }

//     .hero-lrg-display {
//       &:before {
//         content: '';
//         position: absolute;
//         background-color: #fff;
//         height: 120px;
//         width: 220px;
//         bottom: 0;
//         right: 0;
//       }
//     }

//     @media only screen and (min-width: $bp-tablet-min) {
//       .hero-box {
//         max-width: 70%;
//       }

//       .hero-img {
//         border-style: solid;
//         border-width: 0 20px 0 0;
//       }
//     }

//     @media only screen and (min-width: $bp-dtop-min) {
//       .hero-texture {
//         flex: 1;
//       }

//       .hero-box {
//         max-width: 960px;
//       }

//       .hero-img {
//         border-style: solid;
//         border-width: 0 20px;
//       }

//       .hero-lrg-display {
//         &:before {
//           right: -20px;
//         }
//       }

//       .hero-logo {
//         right: -20px;
//       }
//     }

//     @media only screen and (min-width: 1205px) {
//       .hero-lrg-display {
//         width: 1180px;
//         margin: 0 auto;
//       }

//       .hero-box {
//         left: -25px;
//         padding: 40px 40px 40px 20px;
//       }

//       .hero-logo {
//         right: 0;
//         z-index: 1;
//       }

//       &:after {
//         content: '';
//         position: absolute;
//         background-color: #fff;
//         height: 120px;
//         width: calc(((100% - 1180px) / 2) + 220px);
//         bottom: 0;
//         right: 0;
//       }
//     }
// }
