@import "~@edx/brand/paragon/variables";
@import "~@edx/paragon/scss/core/core";
@import "~@edx/brand/paragon/overrides";

.course-section {
  @extend .mb-5;

  &:last-child {
    @extend .mb-0;
  }
}
