@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities/_spacing";
@import "~bootstrap/scss/utilities/_text";

.card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);

  &.is-micromasters {
    min-height: 170px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 16px;
      bottom: 0;
      left: 0;
      background-image: url('../../images/mm-badge.svg');
      background-position: right center;
      background-repeat: no-repeat;
      opacity: 0.05;
      z-index: 0;
    }

    @include media-breakpoint-down(sm) {
      &::before {
        background-position: right bottom;
      }
    }
  }

  &:last-child {
    @extend .mb-0;
  }

  .card-body {
    z-index: 1;
  }

  .card-title > a {
    @extend .text-dark;
    text-decoration: none;
  }

  .btn-course-link {
    background-color: $white;
    
    &:hover {
      background: #f1f3f8;
    }
  }

  .notification {
    background: #f4f7ff;
    border-color: #d3daf0;
  }
}
