@import "~@edx/edx-bootstrap/scss/edx/theme";

.collapsible {
  border: 0;

  &.open {
    border: 0;
    
    .collapsible-body {
      padding: 0;
      overflow: initial;
    }
  }

  .collapsible-title {
    @extend .h2;
  }

  .btn-collapsible {
    background: $white;
    border-radius: 0;
    border: 0;
    @extend .mb-2;

    &.open {
      border: 0;
    }

    &:hover {
      background: $white;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }

  .btn-collapsible,
  .collapsible-body {
    padding: 0;
  }
}
